extends layout

block contenido
    .contenido-principal
        h2 #{nombrePagina} - #{proyecto.nombre}

        // TODO - Formulario

        // TODO - Listado Pendientes

        // Acciones
        .contenedor-acciones
            a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar Proyecto
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class="boton eliminar") Eliminar Proyecto